@mixin site--hero__char(){
  position: relative;
  img{
    position: absolute;
    left: 50%;
  }
  h1{
    font-size: 30px;
    padding: 45px 0;
  }
}
@mixin list(){
  ul{
    padding-top: 35px;
    li{
      padding-bottom: 35px;
      &:before {
        content:'\25A0';
        color: $color-blue;
        padding-right: 10px;
      }
    }
  }
}
@mixin slickArrow(){
  .slick-prev:before {
    color: $color-blue !important;
    font-size: 30px;
    content: "<";
  }
  .slick-next:before {
    color: $color-blue !important;
    font-size: 30px;
    content: ">";
  }
}
@mixin background($top,$right,$down,$left, $background){
  background: $background;
  padding: $top $right $down $left;
}
