@mixin site--hero__char(){
  position: relative;
  img{
    position: absolute;
    left: 50%;
  }
  h1{
    font-size: 30px;
    padding: 45px 0;
  }
}
@mixin list(){
  ul{
    padding-top: 35px;
    li{
      list-style-type:square;
      padding-bottom: 35px;
    }
  }
}