//section--intro
.section--intro{
    padding: 120px 0 100px 0;
    &__img{
        padding-right: 25px;
        position: relative;
        p{
            font-size: 21px;
            font-weight: 300;
            line-height: 1.714;
            padding-bottom: 35px;
        }
        img{
            position: absolute;
            right: 25px;
            @media (max-width: $tablet) {
                position: relative;
                right: 0;
            }
        }
    }
    &__list{
        padding-left: 25px;
        @include list();
    }
}
//section Goals
.section--goals{
    @include background(210px, 0, 75px, 0,$bg);
    text-align: center;
    &__g{
        @include slickArrow();
    }
    &__goal {
        outline: none;
        padding-top: 65px;
        &Tittle{
            width: 390px;
            hr{
                margin-bottom: 20px;
            }
        }
        &Content{
            width: 390px;
            height: 360px;
            margin-right: 25px;
            margin-top:30px;
            position: relative;
            background: $color-blue;
            img{
                position: absolute;
                top: 0;
                right: 0;
                width: 390px;
                height: 360px;
            }
            p{
                padding: 75px 20px;
                font-size: 20px;
                color: $color-white;
            }
            .link{
                background: $color-orange;
                width: 100%;
                text-align: center;
                padding: 10px 0;
                a{
                    color: $color-white;
                }
            }
        }
        &:hover {
            .section--goals__goalContent{
                opacity: 0.8;
                img {
                    opacity: 0.2;
                    z-index: -1;
                }
            }
            .section--goals__goalTittle{
                hr{
                    border-bottom: 1px solid $color-blue;
                }
            }
        }
    }
}
//section--Solutions
.section--Solutions{
    @include background(70px, 0, 70px, 0,$bg);
    text-align: center;
    h2{
        padding-bottom: 120px;
    }
    &__feature{
        background: $color-white;
        margin-right: 15px;
        margin-bottom: 15px;
        max-width: 280px;
        padding: 50px 30px 40px 30px;
        i{
            color: $i;
            padding-bottom: 40px;
        }
        a{
            padding-top: 30px;
            color: $color-white;
            display: none;
        }
        &:hover{
            background: $color-orange;
            i,h6{
                color: $color-white;
            }
            a{
                display: block;
            }
        }
    }
}
//section--corner
.section--corner{
    padding: 100px 0;
    &__text{
        p{
            padding-top: 30px;
        }
    }
    &__img{
        position: relative;
        img{
            position: absolute;
            top: -150px;
            @media (max-width: $tablet) {
                position: relative;
                top: 0;
            }
        }
    }
}
//section--Work
.section--Work{
    @include background(120px, 0, 120px, 0, $bg);
    &__img{
        position:relative;
        left: 70px;
        width: 900px;
        height: 1120px;
        margin-bottom: 180px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__text{
        position:relative;
        right: 100px;
        bottom: 60px;
        text-align: right;
        p{
            padding-top: 30px;
        }
    }
    &__partner{
        padding-top: 70px;
        @include slickArrow();
        &s{
            outline:none;
            margin-right: 80px;
            img{
                height: 105px;
            }
        }
    }
    @media (max-width: $tablet) {
        &__img{
            left: 0;
            width: inherit;
            height: inherit;
        }
        &__text{
            padding-bottom: 20px;
            right: 0;
            bottom: 0;
            text-align: left;
        }
    }
}
//section--howWorks
.section--howWorks{
    padding: 120px 0;
    background: url("../img/howWorksBG.png");
    background-size: cover;
    position: relative;
    a{
        position: absolute;
        margin-left: auto;
        width: 270px;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom:-25px;
        text-align: center;
    }
    &__img{
        padding-bottom: 30px;
    }
    &__text{
        p{
            color: $color-white;
            padding-top: 25px;
        }
    }
}
//section--profit
.section--profit{
    @include background(160px, 0, 220px, 0, $bg);
    &__text{
        p{
            padding-top: 35px;
        }
        @include list();
        a{
            color: $color-orange;
            padding-top: 35px;
            font-weight: 500;
            display: block;
        }
    }
}
//section--contact
.section--contact{
    &__pos{
        position: relative;
        bottom: 100px;
        @include background(90px, 0, 0, 0, $color-white);
    }
    &__tittle{
        text-align: center;
        padding-bottom: 60px;
        h6{
            color: $color-blue;
            padding-bottom: 25px;
        }
    }
    &__form{
        form{
            input{
                background: $bg;
                border: none;
                padding: 30px 25px;
            }
        }
    }
}
//section--footer
.section--footer{
    @include background(65px, 0, 65px, 0, $color-blue);
    &__links{
        ul{
            li{
                color: $color-white;
                display: inline-block;
                a{
                    padding: 0 15px;
                    font-size: 13px;
                    color: $color-white;
                    font-weight: 300;
                }
            }
        }
    }
}