@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Open+Sans:wght@300&family=Raleway:wght@400;500;600&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: normal;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    color: rgb(123, 108, 99);
}
.container {
    max-width: 86%;
    margin: 0 auto;
    padding: 0;
}
/***  header  **/
.site--header{
    background: black;
    position: relative;
}
.site--header__logo{
    padding-top: 2vw;
    font-size: 47px;
    color: rgb(255, 255, 255);
}
.site--header__menu{
    position: absolute;
    top: 4vw;
    right: 6vw;
}
.site--header__menu ul li{
    display: inline-block;
}
.site--header__menu ul li a{
    color: white;
    font-size: 12px;
    text-decoration: none;
    padding-right: 2.2vw;
}
.site--header__logo h2{
    margin: 0;
    color: white;
    font-weight: 400;
    font-family: 'Oleo Script',cursive;
}
.site--header__tittle{
    width: auto;
    margin: 14vw 16vw 4.3vw 2.1vw;
}
.site--header__tittle h3{
    color: white;
    font-size: 24px;
    font-weight: 500;
    height: 0;
    line-height: 1.25;
}
.site--header__tittle h1{
    font-size: 4.8vw;
    line-height: 1.136;
    color: white;
}
.site--header__tittle h1 span{
    font-weight: bold;
    color: rgb(123, 108, 99);
}
.button{
    border-radius: 3px;
    background-color: rgba(255,255,255,0.2);
    font-size: 16px;
    color: rgb(255, 255, 255);
    border: none;
    padding: 15px 50px;
    margin-left: 2vw;
}
.site--header__download{
    padding-bottom: 12vw;
}
/*** konw  ***/
.section--Know{
    margin:5.5vw 23vw;
    width: auto;
}
.section--Know__text{
    text-align: center;
}
.section--Know__text h2 {
    font-size: 40px;
    line-height: 1.198;
    font-weight: 600;
}
.section--Know__text hr {
    width: 15%;
    height: 3px;
    background:  rgb(123, 108, 99);;
    margin-bottom: 2.1vw;
}
.section--Know__text p{
    font-size: 18px;
    line-height: 1.67;
    color: rgb(33, 33, 33);
}
/**  best   ***/
.section--best{
    background: rgb(245, 245, 245);
    display: flex;
    position: relative;
    height: 43vw;
}
.section--best__text{
    display: inline-block;
    padding: 4vw 0 4vw 9vw;
    max-width: 530px;
}
.section--best__img{
    display: inline-block;
}
.section--best__img img{
    width: 54.27vw;
    height: 43vw;
}
.section--best__text h3{
    font-size: 24px;
}
.section--best__text p{
    font-size: 16px;
    color: rgb(0, 0, 0);
    line-height: 1.875;
    margin-bottom: 2.5vw;
}
.button-white{
    color: rgb(0, 0, 0);
    border: 1px solid black;
    font-size: 16px;
    margin-left: 0;
}
/** services  **/
.section--services{
    margin: 5vw 2.2vw;
}
.section--services__text{
    margin: 0 10.5vw 6vw 10.5vw;
    width: auto;
    text-align: center;
}
.section--services__text p{
    font-size: 16px;
    color: rgb(0, 0, 0);
    line-height: 1.875;
}
.section--services__icons{
    margin: 0 15px;
}
.section--services__icon{
    text-align: center;
    display: inline-block;
    width: 330px;
    padding-right: 25px;
}
.section--services__icon p{
    font-size: 16px;
    color: rgb(148, 148, 148);
    line-height: 1.5;
}
.section--services__icon i{
    color: rgb(123, 108, 99);
}
/**  section--skill ***/
.section--skill{
    background: url("../img/skills.png") center;
    background-size: cover;
    position: relative;
    padding-bottom: 6vw;
    padding-top: 5vw;
    display: flex;
    justify-content: center;
}
.section--skill h2{
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
}

.skill{
    width: 170px;
    height: 170px;
    background: transparent;
    border-radius: 50%;
    border: 4px solid rgb(123, 108, 99);
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill p{
    color: white;
}
.skill1{
    width: 150px;
    height: 150px;
    background: transparent;
    border-radius: 50%;
    border-top: none;
    border-right:4px solid white ;
    border-left:none ;
    border-bottom:4px solid white ;;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section--skill__skill{
    display: inline-block;
    padding: 25px 70px 0 15px;
}
.section--skill__skill p{
    font-size: 16px;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 25px;
}
/** section--project__text ***/
.section--project{
    margin:5.5vw 23vw;
    width: auto;
}
.section--project__text hr{
    width: 10%;
}
/** twitter **/
.section--twitter{
    width: 100%;
    position: relative;
    background: black;
    height: 80.62vw;
}
.section--twitter__images1 div{
    width: 25%;
    height:  25.62vw;
}
.section--twitter__img1Text{
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 1vw;
    left: 1vw;
    min-width: 50%;
    max-height: 55%;
    padding: 5vw 5vw;
    text-align: center;
}
.section--twitter__img1Text h4{
    font-size: 1.3vw;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
}
.section--twitter__img1Text hr{
    color: rgb(255, 255, 255);
    width: 20%;
}
.section--twitter__img1Text p{
    font-size: 1.3vw;
    color: rgb(255, 255, 255);
}
.section--twitter__images1 .section--twitter__img1{
    background: url("../img/twiter1.png");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.section--twitter__images1 .section--twitter__img2{
    background: url("../img/twiter2.png");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 25%;
}
.section--twitter__images1 .section--twitter__img3{
    background: url("../img/twiter3.png");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 50%;
}
.section--twitter__images1 .section--twitter__img4{
    background: url("../img/twiter4.png");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 75%;
}
.section--twitter__images2 div{
    width: 25%;
    height:  25.62vw;
}
.section--twitter__images2 .section--twitter__img1{
    background: url("../img/twiter1.png");
    background-size: cover;
    position: absolute;
    top: 55.62vw;
    left: 0;
}
.section--twitter__images2 .section--twitter__img2{
    background: url("../img/twiter2.png");
    background-size: cover;
    position: absolute;
    top: 55.62vw;
    left: 25%;
}
.section--twitter__images2 .section--twitter__img3{
    background: url("../img/twiter3.png");
    background-size: cover;
    position: absolute;
    top: 55.62vw;
    left: 50%;
}
.section--twitter__images2 .section--twitter__img4{
    background: url("../img/twiter4.png");
    background-size: cover;
    position: absolute;
    top: 55.62vw;
    left: 75%;
}
.section--twitter__center{
    position: absolute;
    top: 25.62vw;
    padding: 7vw 18vw 7vw 28vw;
    text-align: center;
}
.section--twitter__center h2{
    font-size: 1.7vw;
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.section--twitter__center p{
     font-size: 15px;
     color: rgb(255, 255, 255);
 }
.section--twitter__center span{
    font-size: 15px;
    color: dodgerblue;
}
.section--button{
   display: flex;
    justify-content: center;
    margin: 5vw 0;
}
/*** section--team ***/
.section--team{
    padding: 5vw 0;
    background: rgb(245, 245, 245) ;
}
.section--team__team{
    padding: 0 25.62vw 5vw 25.62vw;

}
.section--team__card{
    display: inline-block;
    padding-right: 30px;
    text-align: center;
}
.section--team__img{
    margin: 0;
    background: url("../img/team.png");
    background-size: cover;
    position: relative;
    width:330px;
    height: 327px;
}
.section--team__imgContent{
    background: rgba(0,0,0,0.9);
    opacity: 0;
    width:330px;
    height: 327px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section--team__img:hover .section--team__imgContent{
    opacity: 1;
}
.circle{
    width: 50px;
    height: 50px;
    margin: 0 15px 0 0;
    border-radius: 50%;
    background: transparent;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle a{
    text-decoration: none;
    color: white;
}
.section--team__cards{
    overflow: auto;
    white-space: nowrap;
    padding-left: 3vw;
}
.section--team__cardBody{
    margin-top: 1vw;
    border: 1px solid rgba(0,0,0,0.1);
}
.section--team__cardBody h4{
    font-size: 24px;
    color: rgb(0, 0, 0);
    margin-bottom: 0;
    margin-top: 1.2vw;
}
/*** clients***/
.section--clients{
    padding: 5vw 18vw;
    text-align: center;
    background: black;
}
.section--clients__text h2{
    font-size: 24px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.section--clients__text p{
    font-size: 18px;
    color: rgb(146, 146, 146);
    line-height: 2;
}
.section--clients__text span{
    font-size: 18px;
    color: dodgerblue;
    line-height: 2;
    display: block;
    padding-bottom: 1.8vw;
}
/** blog  **/
.section--blog{
    padding-top: 5.12vw ;
    padding-bottom: 5vw;
    position: relative;
}
.section--blog__imgIz img,
.section--blog__imgDer img{
    width: 35vw;
    height: 20vw;
}
.section--blog__imgDer{
    padding-left: 5vw;
    padding-bottom: 3vw;
    display: flex;
    flex-flow: row;
}
.section--blog__imgIz{
    padding-right: 4vw;
    padding-bottom: 3vw;
    display: flex;
    flex-flow:row-reverse;
}
.section--blog__imgDerText{
    padding: 0 0 5vw 7vw;
}
.section--blog__imgIzText{
    text-align: end;
    padding: 0 7vw 5vw 0;
}
.section--blog__imgIzText h4,
.section--blog__imgDerText h4{
    font-size: 24px;
    color: rgb(33, 33, 33);
    font-weight: 500;
}
.section--blog__imgIzText p,
.section--blog__imgDerText p{
    font-size: 16px;
    color: rgb(148, 148, 148);
    line-height: 1.875;
}
.section--blog__imgIzText span,
.section--blog__imgDerText span{
    font-size: 16px;
    color: rgb(123, 108, 99);
}
.section--blog__sep{
    position: absolute;
    width: 1.2vw;
    height: 74.59vw;
    top: 25%;
    left: 50%;
}
.button__blog{
    border-radius: 50%;
    background: rgb(123, 108, 99);
    color: white;
    height: 50px;
    width: 50px;
    position: relative;
    left: 49%;
    border: 4px solid lightgray;
}
/***   section--contact   ***/
.section--contact{
    padding: 5vw 0;
    background: rgb(245, 245, 245) ;
}
.form{
    width: auto;
    padding: 2vw 15vw 0 15vw;
}
.section--contact__tittle{
    display: flex;
    justify-content: center;
}
.section--contact__tittle h2{
    font-size: 40px;
    color: rgb(123, 108, 99);
}
.form__1{
    display: flex;
    flex-wrap: wrap;
}
.form__1 textarea{
    padding: 10px;
    border-top: 3px solid black;
    border-left: none;
    border-bottom: 1px solid black;
    border-right: none;
    background: rgb(245, 245, 245);
    flex: 100%;
    margin: 5px 10px 25px 0;
}
.form__2{
    display: flex;
    flex-wrap: wrap;
}
.form__2 input{
    padding: 10px;
    border-top: 3px solid black;
    border-left: none;
    border-bottom: none;
    border-right: none;
    background: rgb(245, 245, 245);
    flex: 45%;
    margin: 5px 10px 5px 0;
}
.form__button{
    display: flex;
    justify-content: center;
}
/**  footer ***/
.site--footer{
    background: black;
    padding-top: 3.5vw;
}
.site--footer__row{
    display: flex;
    padding-bottom: 4vw;
}
.site--footer__mairala{
    max-width: 20vw;
    padding-right: 30px;
    padding-left: 25px;
}
.site--footer__mairala h2{
    font-size: 47px;
    font-family: 'Oleo Script',cursive;
    margin: 0;
    padding-bottom: 24px;
}
.site--footer__mairala p{
    font-size: 14px;
    line-height: 1.714;
    color: rgb(146, 146, 146);
    padding-bottom: 2.5vw;
    margin: 0;
}
.site--footer__social{
    width: 20vw;
    padding-right: 25px;
    padding-left: 25px;
}
.site--footer__social h3{
    font-size: 18px;
    color: rgb(194, 194, 194);
}
.site--footer__social h4{
    font-size: 10px;
    color: rgb(95, 95, 95);
    line-height: 2;
    margin: 0;
    padding-top:  1.04vw;
}
.site--footer__social p{
    font-size: 13px;
    color: rgb(146, 146, 146);
    line-height: 1.786;
    margin: 0;
    padding-bottom:  1.04vw;
}
.site--footer__social hr{
    background-color: rgb(255, 255, 255);
    opacity: 0.302;
}
.site--footer__social h4 span{
    color: rgb(123, 108, 99);
}
.site--footer__mairala h3{
    font-size: 18px;
    color: rgb(194, 194, 194);
    padding-bottom: 1vw;
}
.site--footer__mairala span{
    display: block;
    font-size: 14px;
    color: rgb(146, 146, 146);
    line-height: 1.714;

}
.site--footer__copyright{
    background-color: rgb(28, 28, 28);
    padding: 25px 0;
}
.site--footer__copyright p{
    font-size: 15px;
    color: rgb(89, 89, 89);
    font-weight: 400;
    margin: 0;
    text-align: center;
}
/** media  ***/
/**  best   ***/
@media (max-width: 1258px) {
    .section--best .container{
        width: auto;
        margin: 3vw 0 0 10%;
    }
    .section--best{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        min-height: 120vw;
    }
    .section--best__img{
        display: block;
    }
    .section--best__img img{
        width: 54.27vw;
        height: 43vw;
    }
    .section--best__text{
        display: block;
        margin: 2vw 0 1vw 0;
        width: 100%;
        padding: 0;
    }
}
@media (max-width: 600px) {
    .section--best{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        min-height: 170vw;
    }
}
/** blog  **/
@media(max-width: 768px){
    .section--blog__imgDer{
        flex-wrap: wrap;
    }
    .section--blog__imgIz{
        flex-flow:row;
        flex-wrap: wrap;
    }
    .section--blog__imgIz img,
    .section--blog__imgDer img{
        width: 50vw;
        height: 38vw;
        padding-left: 5vw;
    }
}
@media(max-width: 768px){
    .section--blog__imgDerText{
        padding: 5vw;
    }
    .section--blog__imgIzText{
        padding: 5vw;
        text-align: start;
    }
}
@media(max-width: 768px){
    .section--blog__sep{
        display: none;
    }
}
/** footer  **/
@media (max-width: 950px) {
    .site--footer__row{
        flex-wrap: wrap;
    }
    .site--footer__mairala{
        flex: 100%;
        max-width: 85%;
    }
    .site--footer__social{
        flex: 30%;
        max-width: 50%;
    }
}