// Header
.site--header {
    width: 100%;
    padding: 25px 0;
    text-align: center;
    &__logo {
        @media (max-width: $tablet) {
            padding-bottom: 20px;
        }
    }
    .site--header__search{
        p{
            padding: 0 25px 15px 25px;
        }
        i{
            padding-right: 25px;
        }
        @media (max-width: $tablet) {
            padding-bottom: 20px;
        }
    }
    .site--header__join{
        @media (max-width: $tablet) {
            padding-bottom: 20px;
        }
    }
    .site--header__menu{
        ul {
            li {
                position: relative;
                .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color: #f1f1f1;
                    max-width: 460px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                    a {
                        color: black;
                        padding: 12px 16px;
                        text-decoration: none;
                        display: block;
                        &:hover{
                            background-color: #ddd;
                        }
                    }
                }
                &:hover .dropdown-content {display: block;}
                padding-right: 65px;
                @media(max-width: 1150px){
                    padding-right: 30px;
                }
                a {
                    font-weight: 600;
                    i{
                        padding-left: 15px;
                    }
                }
            }
        }
    }
}
