.hero{
    @include background("../img/hero.png");
    padding: 105px 0 280px 0;
    .hero--seen{
        padding: 25px 0 65px 0;
        img{
            vertical-align: inherit;
        }
    }
    .hero--tittle{
        text-align: center;
        p{
            padding-top: 35px;
            font-size: 18px;
            line-height: 1.429;
            color: rgb(255, 255, 255);
        }
    }
}