.section--steps{
    padding: 105px 0;
    @include background("../img/steps.png");
    text-align: center;
    .section--steps__step{
        background: white;
        text-align: center;
        margin-top: 45px;
        margin-right: 20px;
        padding: 60px 65px;
        span{
            font-size: 75px;
            color:$donate-border;
            font-weight: 900;
        }
        hr{
            width: 30px;
            margin: 25px auto;
        }
        p{
            padding-top: 25px;
            color: rgba(0, 0, 0, 0.702);
        }
    }
}