.section--video{
   @include background("../img/video.png");
   text-align: center;
   padding: 140px 0 150px 0;
    .section--video__text{
       h3{
          color: rgb(255, 255, 255);
       }
       p{
          padding: 50px 0 70px 0;
          color: rgb(255, 255, 255);
       }
       a{
          display: block;
          margin-bottom: 70px;
       }
       .button{
          background: $donate-border;
          color: white;
          border: none;
       }
    }
}