.section--test{
    padding: 150px 0;
    background: url("../img/test_bg.png");
    background-size: cover;
    .section--test__kitchen{
        .section--test__kitchenText{
            padding: 20px 50px 0 50px;
        }
    }
}





