.section--history{
    padding: 180px 0;
    @include background("../img/history.png");
    text-align: center;
    .section--history__text{
        p{
            padding-top: 45px;
            color: white;
        }
    }
}