.site--numbers{
    padding: 100px 0 140px 0;
    h3{
        padding-bottom: 50px;
        text-align: center;
    }
    .site--numbers__number{
        p{
            font-size: 105px;
            font-weight: 900;
            span{
                font-size: 40px;
            }
        }
    }
}