@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;500;600&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: normal;
    color: rgb(69, 90, 100);
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: rgb(60, 55, 104)
}
.container {
    max-width: 85%;
    margin: 0 auto;
    padding: 1em 0;
}
.site--header{
    position: relative;
    margin-bottom: 50vw;
}
.container__row{
    display: flex;
    flex-wrap: wrap;
}
.container__col{
    flex: 50%;
}
.site--header__menu{
    position: absolute;
    right: 14vw;
    top: 0;
    z-index: 2;
}
.site--header__menu ul li{
    display: inline-block;
    margin-right: 10px;
}
.site--header__menu ul li a{
    text-decoration: none;
    color: white;
}
.site--header__menu ul li div{
    width: 60px;
    height: 60px;
    background: rgb(250,120,117);
    border-radius: 50%;
    box-shadow: 0 18px 35px 0 rgba(250, 120, 117, 0.42);
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    background: rgba(250,120,117,1);
    height: 100vh;
    width: 50vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}
.menu ul{
    list-style: none;
    margin-top: 8vw;
}
.menu ul li{
    width: 80%;
    margin-bottom: 5px;
    border-bottom:2px solid rgb(60, 55, 104);
    text-align: center;
}
.menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
#shapeheader1{
    position: absolute;
    left: 0;
    top: 15vw;
    width: 5.78vw;
    height: 29.91vw;
}
.site--header__img #headerImg{
    position: absolute;
    top: 0;
    right: 0;
    width: 65vw;
    height: 45vw;
    z-index: -1;
}
.site--header__text{
    position: absolute;
    top: 11vw;
    left: 12vw;
    width: 28%;
}
.site--header__text h2{
    font-size:  3vw;
}
.site--header__text p{
    font-size:  18px;
    color: rgb(69, 90, 100);
    margin-bottom: 3vw;
}
.site--header__text span{
    font-size:  20px;
    color: rgb(69, 90, 100);
}
.form{
    width: 80.92vw;
    margin-top: 3vw;
}
.input{
    min-width: 330px;
    margin: 5px 10px 5px 0;
    padding: 15px 0;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 18px 35px 0px rgba(250, 120, 117, 0.15);
}
.button{
    border-radius: 5px;
    border: none;
    padding: 15px 30px;
    background-image: -webkit-linear-gradient(left,rgba(60,55,104,0.5) 0%, rgb(250,120,117) 100%);
    box-shadow: 0px 18px 35px 0px rgba(250, 120, 117, 0.42);
    color: white;
}
/**  space */
.section--space{
    position: relative;
    min-height: 45vw;
}
.container--imgText{
    display: flex;
}
.container--imgText__img{
    position: absolute;
    top: 0;
    left: -5vw;
}
.container--imgText__img img{
    width: 53vw;
    height: 40vw;
}
.container--imgText__text{
    position: absolute;
    top: 4vw;
    right: 8.4vw;
    max-width: 37vw;
    padding: 2vw 4vw;
    z-index: 1;
    background: rgba(255, 255, 255, 0.749);
    box-shadow: 0 31px 38px 0 rgba(250, 120, 117, 0.1); ;
}
.container--imgText__text h2{
    font-size: 30px;
    margin-bottom: 2vw;
}
.container--imgText__text p{
    font-size: 16px;
    line-height: 2.219;
    margin-bottom: 2vw;
}
.container--imgText__text a{
    text-decoration: none;
    color: rgb(250, 120, 117);
    font-size: 20px;
    display: flex;
}
.container--imgText__text a img{
    margin-left: 30px;
    align-items: center;
}
/***  .section--space__work ***/
.section--work{
    min-height: 54vw;
}
.section--space__work{
    position: relative;
}
.section--space__work .container--imgText__img{
    position: absolute;
    top: 0;
    left: inherit;
    right: -7.4vw;
}
.section--space__work .container--imgText__img img{
    width: 40vw;
    height: 49vw;
}
.section--space__work .container--imgText__text{
    position: absolute;
    top: 8vw;
    right: inherit;
    left:  4vw;
}
/**  section--quit  **/
.section--quitM{
    min-height: 60vw;
}
.section--quit .container--imgText__img img{
    width:  53vw;
    height: 48vw;
}
/***  section--remote  ***/
.section--remote{
    margin-top: 1vw;
}
.section--remote__row{
    background: url("../img/remote.png");
    background-size: cover;
    display: flex;
    align-items: center;
}
.section--remote__text{
    padding: 7vw 5vw 7vw 7vw;
    max-width: 419px;
}
.section--remote__text h2{
    font-size: 40px;
    color: rgb(255, 255, 255);
    line-height: 1.2;

}
.section--remote__text p{
    font-size: 18px;
    color: rgb(197, 202, 233);
    line-height: 1.667;

}
.section--remote__form form{
    max-width: 500px;
}
/*** footer  ***/
.site--footer{
    margin-top: 2vw;
    position: relative;
}
.site--footer__row{
    display: flex;
}
.site--footer__text{
    padding-right: 4vw;
    max-width: 45vw;
}
.site--footer__text p{
    padding-top: 2vw;
    font-size: 13px;
    font-family: "Poppins",sans-serif;
    color: rgb(69, 90, 100);
    line-height: 1.714;
}
.site--footer__menu{
    padding-right: 5vw;
    font-size: 16px;
    font-family: "Poppins",sans-serif;
    font-weight: bold;
}
.site--footer__menu ul{
    list-style: none;
}
.site--footer__menu ul li a{
    text-decoration: none;
    color: rgb(69, 90, 100);
    line-height: 2.25;
}
.site--footer__social{
    display: flex;
    justify-content: center;
}
.site--footer__social div{
    height: 47px;
    width: 47px;
    background:  rgb(50, 46, 87);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.site--footer__social div a{
    text-decoration: none;
    color: white;
}
.site--footer__copyright{
    margin: 4vw 0;
}
.site--footer__copyright p{
    font-size: 16px;
    font-family: "Poppins",sans-serif;
    color: rgb(69, 90, 100);
}
#footer1{
    width: 45vw;
    height: 40vw;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
#footer2{
    width: 8vw;
    height: 35vw;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}
/*** media   ***/
@media (max-width: 808px) {
    .container__col{
        flex: 100%;
    }
    .site--header{
        min-height: 58vw;
    }
    .site--header__text{
        position: absolute;
        top: 44vw;
        left: 12vw;
        width: 80%;
        margin: 0 auto;
    }
    .site--header__text h2{
        font-size:  4vw;
    }
    .menu ul{
        list-style: none;
        margin-top: 20vw;
    }
}
@media (max-width: 1100px) {
    .container--imgText{
        display: flex;
        flex-wrap: wrap;
    }
    .section--space__work .container--imgText__img,
    .container--imgText__img{
        position: relative;
        top: 0;
        left: 0;
    }
    .section--space__work .container--imgText__text,
    .container--imgText__text{
        position: relative;
        max-width: 80%;
        margin: 0 auto;
        top: 0;
        right: 0;
    }
    .section--remote{
        margin-top: 3vw;
    }
    .section--remote__row{
        flex-wrap: wrap;
        justify-content: center;
    }
    .section--remote__text{
        padding: 7vw 5vw 2vw 7vw;
        max-width: 419px;
    }
    .section--remote__form{
        padding-bottom: 3vw;
    }
}
@media(max-width: 958px){
    .site--footer__row{
        flex-wrap: wrap;
    }
    .site--footer__text,
    .site--footer__menu,
    .site--footer__social{
        flex: 100%;
        max-width: 90%;
        margin: 0 auto;
        text-align: center;
    }
}
