*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans.ttf");
}
@font-face {
    font-family: OpenSans-SemiBold;
    src: url("../fonts/OpenSans-SemiBold.ttf");
}
@font-face {
    font-family: Raleway-Bold;
    src: url("../fonts/Raleway-Bold.ttf");
}
hr{
    border-color: turquoise;
}
.header{
    background-image: linear-gradient(rgba(51,181,83,0.991) 30.48%, rgba(0, 153, 153,0.6) 73.52%), url('../img/img1.jpg') ;
    background-size: cover;
    height: 100%;
    width: 100% ;
    text-align: center;
}
.header__trademark{
    background: rgb(51,181,83);
    margin-bottom: 10px;
    padding: 15px;
}
.header__presentation{
    color: white;
    padding-top: 2vw;
    padding-bottom: 100px;
}
.header__presentation h2{
    margin-bottom: 30px;
    word-spacing: 6px;
    letter-spacing: 6px;
    font-family: Raleway-Bold;
}
.header__presentation p{
    font-family: OpenSans;
    font-size: 15px;
    line-height: 1.5;
    margin-left: 25%;
    margin-right: 25%;
}
.header__presentation{
    margin-top: 2.5%;
    margin-bottom: 210px;
}
.button{
    text-decoration: none;
    padding: 15px 30px;
    font-size: 15px;
    color: white;
    background-color: rgba(50,205,50,0);
    border-radius: 25px;
    border: 2px solid white;
    margin-bottom: 5%;
}
.badge{
    margin-top: 2.5%;
    text-align: center;
}
.badge__text h2{
     color: dodgerblue;
     margin-bottom: 3%;
    font-family: Raleway-Bold;
}
.badge__text p{
    font-family: OpenSans;
    line-height: 1.5;
    font-size: 14px;
    text-align: center;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
.gridContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin: 11vh auto;
}
@media (min-width: 1080px) {
    .gridContainer__icon{
        flex: 25%;
        text-align: center;
        padding: 3vh;
        margin: 0;
    }
}
@media (max-width: 1080px) {
    .gridContainer__icon{
        flex: 50%;
        text-align: center;
        padding: 3vh;
        margin: 0;
    }
}
@media (max-width: 768px) {
    .gridContainer__icon{
        flex: 100%;
        text-align: center;
        padding: 3vh;
        margin: 0;
    }
}
.gridContainer__icon img{
    height: 60px;
    width: 50px;
}
.gridContainer__icon hr{
    width: 20%;
    margin: 0 auto;
    background: rgb(64, 180, 76);
    height: 2px;
}
.gridContainer__icon--data{
    height: 11vh;
}
.gridContainer__icon--data h3{
    color: dodgerblue;
    height: 0;
    margin-top: 5vh;
    font-family: Raleway-Bold;
}
.gridContainer__icon--data p{
    color: dodgerblue;
    font-size: 13px;
    font-family: OpenSans;
}
.gridContainer__icon p{
    margin-top: 3vh;
    font-size: 13px;
    font-family: OpenSans;
}
.tradeMarks{
    margin-bottom: 5%;
    margin-right: 0;
    margin-left: 0;
}
.gridContainerMarks{
    display: flex;
    flex-wrap: wrap;
    font-size:small;
}
@media (min-width: 858px) {
    .gridContainerMarks__banner{
        background: linear-gradient(to right,rgba(51,181,83,0.991) 55.48%, rgba(0, 153, 153,0.6) 73.52%);
        flex: 50%;
        height: 23vw;
    }
    .gridContainerMarks__banner img{
        width: 18vw;
        height: 6vw;
        position: relative;
        top: 7vw;
        left: 25vw;
    }
    .gridContainerMarks__textBanner{
        flex: 50%;
        background: lightgray;
        height: 23vw;
    }
    .gridContainerMarks__textBanner p{
        width: 65%;
        margin: 3vw auto 3vw 5vw;
        text-align: justify;
        font-family: OpenSans;
        font-size: 1.2vw;
    }
    .gridContainerMarks__banner1{
        background: linear-gradient(to left,rgba(51,181,83,0.991) 55.48%, rgba(0, 153, 153,0.6) 73.52%);
        flex: 50%;
        height: 23vw;
    }
    .gridContainerMarks__banner1 img{
        width: 18vw;
        height: 10vw;
        position: relative;
        top: 5vw;
        left: 8vw;
    }
    .gridContainerMarks__textBanner1{
        flex: 50%;
        background: lightgray;
        height: 23vw;
    }
    .gridContainerMarks__textBanner1 p{
        width: 68%;
        margin: 3vw 5vw 3vw auto;
        text-align: justify;
        font-family: OpenSans;
        font-size: 1.2vw;
    }
}
@media (max-width: 858px) {
    .gridContainerMarks__banner{
        background: linear-gradient(to right,rgba(51,181,83,0.991) 55.48%, rgba(0, 153, 153,0.6) 73.52%);
        flex: 100%;
        height: 23vw;
    }
    .gridContainerMarks__banner img{
        width: 40vw;
        height: 12vw;
        position: relative;
        top: 6vw;
        left: 30vw;
    }
    .gridContainerMarks__textBanner{
        flex: 100%;
        background: lightgray;
        height: 23vw;
    }
    .gridContainerMarks__textBanner p{
        width: 85%;
        margin: 3vw 5vw;
        text-align: justify;
        font-family: OpenSans;
        font-size: 2vw;
    }
    .gridContainerMarks__banner1{
        background: linear-gradient(to left,rgba(51,181,83,0.991) 55.48%, rgba(0, 153, 153,0.6) 73.52%);
        flex: 100%;
        height: 23vw;
    }
    .gridContainerMarks__banner1 img{
        width: 35vw;
        height: 12vw;
        position: relative;
        top: 6vw;
        left: 30vw;
    }
    .gridContainerMarks__textBanner1{
        flex: 100%;
        background: lightgray;
        height: 23vw;
    }
    .gridContainerMarks__textBanner1 p{
        width: 85%;
        margin: 3vw 5vw;
        text-align: justify;
        font-family: OpenSans;
        font-size: 2vw;
    }
}
.reasons{
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: auto auto;
}
.reasons__seven{
    font-size: 80vw;
    position: relative;
    top: -95.5vw;
    left: 1%;
    height: 0;
}
.reasons__seven p{
    background: linear-gradient(to right,rgba(51,181,83,0.991) 30.48%, rgba(0, 153, 153,0.6) 55.52%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.reasons__important{
    padding-left: 2%;
}
.reasons__important p{
    font-size: 11px;
    text-align: justify;
}
.reasons__important h6,h4{
    color: dodgerblue;
}
.form{
    background: lightgray;
}
.form__text{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}
.form__text h2{
    padding-top: 6%;
    color: dodgerblue;
}
.form__text p{
    font-size: small;
}
.form__contact{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}
.form__contact-1 input{
    margin: 5px 10px 5px 0;
    width: 95.25%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.form__contact-1 textarea{
    margin: 5px 10px 5px 0;
    width: 95.25%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.form__contact-2 input{
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    width: 46%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.form__contact-3 input{
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.form__contact-3 #city{
    width: 46%;
}
.form__contact-3 #state{
    width: 25.5%;
}
.form__contact-3 #zip{
    width: 17%;
}
.button-form{
    color: dodgerblue;
    border: 2px solid dodgerblue;
    margin-top: 2%;
    position: relative;
    left: 71vw;
}