// Header
.site--header{
    width: 100%;
    padding: 20px 15px;
    &__logo {
        max-width: 250px;
    }
    &__menu {
        ul {
            li {
                padding-right: 30px;
                a {
                    position: relative;
                    top: 15px;
                    @media (max-width: $desktop) {
                        top: 0;
                    }
                    font-style: normal;
                    color: rgb(35, 31, 32);
                }
            }
        }
    }
}
