// ----------------------------------------------------------------------
// Layout Breakpoints
// ----------------------------------------------------------------------
$max-width: 1230px;

// ----------------------------------------------------------------------
// Font Sizes
// ----------------------------------------------------------------------
$font-size: 18px;

// ----------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------
$body-bkg: white;
$bg:#f8f4fc;
$base-color: rgb(35, 31, 32);
$link-color: #1780E4;
$color-white: #fff;
$color-orange: #f87c24;
$color-blue: rgb(50, 124, 203);
$color-hero1:#0c4c6c;
$color-hero2:#1c649c;
$color-hero3: #2080c4;
$i:rgb(13, 72, 108);

// ----------------------------------------------------------------------
// Font Families
// ----------------------------------------------------------------------
$font-family: 'Montserrat', sans-serif;

$font-heading: 'Montserrat', sans-serif;

// ----------------------------------------------------------------------
// Grid
// ----------------------------------------------------------------------
$grid-columns: 12;

// ----------------------------------------------------------------------
// Variables
// ----------------------------------------------------------------------
$small-phone: 420px;
$phone: 520px;
$small-tablet: 768px;
$tablet: 992px;
$small-desktop: 1024px;
$desktop: 1200px;
$padCont: 1300px;

// ----------------------------------------------------------------------
// Headings
// ----------------------------------------------------------------------
