// ----------------------------------------------------------------------
// Layout Breakpoints
// ----------------------------------------------------------------------
$max-width: 1173px;

// ----------------------------------------------------------------------
// Font Sizes
// ----------------------------------------------------------------------
$font-size: 16px;

// ----------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------
$body-bkg: white;
$base-color: rgb(136, 136, 136);;
$link-color: #1780E4;
$color-white: #fff;
$color-green1:rgb(130, 244, 211);

// ----------------------------------------------------------------------
// Font Families
// ----------------------------------------------------------------------
$font-family:'Poppins', sans-serif;

$font-heading: 'Cormorant Garamond', serif;
$font-h1: 'Roboto', sans-serif;
// ----------------------------------------------------------------------
// Grid
// ----------------------------------------------------------------------
$grid-columns: 12;

// ----------------------------------------------------------------------
// Variables
// ----------------------------------------------------------------------
$small-phone: 420px;
$phone: 520px;
$small-tablet: 768px;
$tablet: 992px;
$small-desktop: 1024px;
$desktop: 1300px;

// ----------------------------------------------------------------------
// Headings
// ----------------------------------------------------------------------
