// Header
.site--header {
    width: 100%;
    position: absolute;
    top: 0;
    padding: 50px 60px 0 60px;
    &__logo {
        max-width: 305px;
    }
    .site--header__menu{
        ul {
            li {
                display: inline-block;
                a {
                    color: $color-white;
                }
            }
        }
    }
}
