.section--graphics{
    background: rgb(248, 248, 248);
    .section--graphics__graphic{
        padding: 0;
        img{
            height: 610px;
            @media (max-width: 1200px) {
                width: 100%;
                height: inherit;
            }
        }
    }
    .section--grafico__text{
        padding: 40px ;
        @media (min-width: 1500px) {
            padding: 60px;
        }
        #line1{
            width: 70px;
            margin: 20px auto 20px 0;
            @media (min-width: 1500px) {
                margin: 20px auto 35px 0;
            }
        }
        h3{
            span{
                color: $color-red;
            }
        }
        p{
            padding-bottom: 25px;
            @media (min-width: 1500px) {
                padding-bottom: 35px;
            }
        }
        .section--graphics__video{
            padding-top: 25px;
            @media (min-width: 1500px) {
                padding-top: 35px;
            }
        }
    }
}
