.section--process{
    padding: 140px 0;
    .section--process__text{
        text-align: center;
        hr{
            width: 8%;
        }
    }
    .section--process__img{
        padding-top: 70px;
    }
    .section--process__explication{
        padding-top: 50px;
    }
}