.section--steps{
  background: url("../img/step.png") top;
  background-size: cover;
  position: relative;
  img{
    position: absolute;
    top: -6vw;
    right: 43vw;
    width: 13vw;
    height: 13vw;
  }
  .section--steps__text{
      width: auto;
      margin: 0 10vw;
      text-align: center;
      p{
        color: black;
      }
      hr{
        width: 5%;
      }
      h3{
        padding-top: 9vw;
        margin-bottom: 2vw;
        span{
          color: white;
        }
      }
  }
  .section--steps__form{
      padding: 100px 0;
      background: white;
      border: 1px solid rgba(0,0,0,0.15);
      .form {
        textarea,
        input {
          padding: 10px;
          background-color: #fff;
          border-right: none;
          border-left: none;
          border-top: none;
          border-bottom: 1px solid #ddd;
        }
        .button{
          margin-top: 70px;
          color: black;
          border: 2px solid black;
          padding: 13px 45px;
          background: white;
          min-width: 15vw;
        }
      }
  }
}

