// ----------------------------------------------------------------------
// Layout Breakpoints
// ----------------------------------------------------------------------
$max-width: 1173px;

// ----------------------------------------------------------------------
// Font Sizes
// ----------------------------------------------------------------------
$font-size: 16px;

// ----------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------
$body-bkg: white;
$base-color: rgb(93, 93, 93);;
$link-color: #1780E4;
$color-white: #fff;
$color-red: rgb(237, 50, 45);

// ----------------------------------------------------------------------
// Font Families
// ----------------------------------------------------------------------
$font-family: 'Roboto', sans-serif;

$font-heading: 'Roboto', sans-serif;

// ----------------------------------------------------------------------
// Grid
// ----------------------------------------------------------------------
$grid-columns: 12;

// ----------------------------------------------------------------------
// Variables
// ----------------------------------------------------------------------
$small-phone: 420px;
$phone: 520px;
$small-tablet: 768px;
$tablet: 992px;
$small-desktop: 1024px;
$desktop: 1300px;

// ----------------------------------------------------------------------
// Headings
// ----------------------------------------------------------------------
