@mixin circle($color){
  margin-top: 20px;
  width: 13px;
  height: 13px;
  background: $color;
  border-radius: 50%;
  display: none;
}
@mixin card($width,$height,$padTB,$padLR,$bg){
  outline: none;
  margin-right: 35px;
  width: $width;
  height: $height;
  padding: $padTB $padLR;
  background: $bg;
}