@mixin circle($width,$height,$color,$display){
  margin-top: 20px;
  width: $width;
  height: $height;
  background: $color;
  border-radius: 50%;
  display: $display;
}
@mixin card($width,$height,$padTB,$padLR,$bg){
  outline: none;
  margin-right: 35px;
  width: $width;
  height: $height;
  padding: $padTB $padLR;
  background: $bg;
}