.section--clients{
    background: black;
    padding: $padding-section;
    .section--clients__text{
        text-align: center;
        p{
            color: rgb(146, 146, 146);
            line-height: 2;
            font-size: 18px;

        }
        span{
            color: dodgerblue;
            display: block;
            padding-bottom: 30px;
        }
    }
}