// ----------------------------------------------------------------------
// Layout Breakpoints
// ----------------------------------------------------------------------
$max-width: 1230px;

// ----------------------------------------------------------------------
// Font Sizes
// ----------------------------------------------------------------------
$font-size: 16px;

// ----------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------
$body-bkg: white;
$base-color: rgb(123, 108, 99);;
$link-color: #1780E4;
$color-white: #fff;

// ----------------------------------------------------------------------
// Font Families
// ----------------------------------------------------------------------
$font-family: 'Raleway', sans-serif;
$font-logo: 'Oleo Script',cursive;
$font-heading: 'Raleway', sans-serif;

// ----------------------------------------------------------------------
// Grid
// ----------------------------------------------------------------------
$grid-columns: 12;

// ----------------------------------------------------------------------
// Variables
// ----------------------------------------------------------------------
$small-phone: 420px;
$phone: 520px;
$small-tablet: 768px;
$tablet: 992px;
$small-desktop: 1024px;
$desktop: 1300px;

// ----------------------------------------------------------------------
// Headings
// ----------------------------------------------------------------------
