.section--digital{
  padding: 7vw 0;
  text-align: center;
  .section--digital__text{
      max-width: 660px;
      h4{
        margin-bottom: 3vw;
        letter-spacing: 3px;
      }
      p{
        font-size: 26px;
        font-weight: lighter;
        line-height: 1.571;
      }
      @media (max-width: 768px) {
        max-width: 90%;
      }
  }
}