.section--digital{
  padding: 100px 0;
  text-align: center;
  .section--digital__text{
      h4{
        margin-bottom: 3vw;
        letter-spacing: 3px;
      }
      p{
        font-size: 26px;
        font-weight: 300;
        line-height: 1.571;
      }
  }
}