.section--team{
  margin: 1px 7vw ;
  position: relative;
  .circle2{
    width: 3.3vw;
    height: 3.3vw;
    color: transparent;
    border-radius: 50%;
    border: 4px solid rgb(233, 132, 87);
    position: absolute;
    top: 6vw;
    left: -4vw;
  }
  #triangle2{
    position: absolute;
    top: 2vw;
    right: 6vw;
  }
  .section--team__cards{
      overflow: auto;
      white-space: nowrap;
    .section--team__card{
      margin-right: 20px;
      margin-top: 4.5vw;
      display: inline-block;
      width: 320px;
      height: 170px;
      img{
        margin: 25px 25px;
        width: 115px;
        height: 115px;
      }
      .section--team__cardBody{
        display: inline-block;
        margin: 25px 0;
        .section--team__cardBody p{
          font-size: 15px;
        }
        a{
          i{
            margin-right: 5px;
          }
        }
      }
      &:hover{
        background: $color-green;
        color: $color-white;
        h5{
          color: $color-white;
        }
        a{
          color: $color-white;
        }
      }
    }
  }
}